* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.689);
    width: 100%;
    height: 100%;
  }
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  .welcomadmin {
    color: white;
    position: absolute;
    top: 10%;
    left: 2%;
    text-transform: capitalize;
  }
  .con {
    z-index: 2;
    min-height: 50vh;
    .errors {
      font-size: 21px;
      background-image: linear-gradient(
        -130deg,
        #ff0800 50%,
        rgb(233, 37, 2),
        #f3c2bc
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 350px;
      text-transform: capitalize;
      position: absolute;
      top: 7rem;
      left: 29%;
    }
    form {
      min-height: 50vh;
      border: 3px solid rgb(61, 4, 94);
      backdrop-filter: blur(25px);
      margin: auto;
      border-radius: 15px;
      border-bottom-left-radius: 280px;
      border-top-right-radius: 280px;
      padding: 70px 10px;
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 25px black;
      input,
      .select,
      input[type="file"] {
        background-color: transparent;
        border: 2px solid rebeccapurple;
        outline: none;
        margin-top: 10px;
        height: 40px;
        border-radius: 20px;
        color: rgb(134, 70, 199);
        font-size: 18px;
        padding: 3px 15px;
        width: 60%;
        align-self: center;
        transition: border-color 0.4s ease-in-out;
        &:focus {
          border-color: rgba(255, 255, 0, 0.815);
        }
        &::placeholder {
          background-image: linear-gradient(
            -130deg,
            #ffee00 80%,
            rgb(224, 165, 175),
            #3a055c
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .select {
        padding: 5px;
      }
      input[type="file"] {
        padding-bottom: 29px;
        color: white;
      }
      button {
        margin: 60px 6px 7px 6px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid rgb(61, 4, 94);
        outline: none;
        background-color: transparent;
        font-family: "Lovers Quarrel", cursive;
        color: whitesmoke;
        font-size: 2.3rem;
        text-transform: capitalize;
        transition: border-color 0.4s ease-in-out;
        &:hover {
          border-color: rgba(255, 255, 0, 0.815);
        }
      }
    }
    .orderpage {
      position: relative;
      left: 90%;
      bottom: 50px;
      background-color: transparent;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      text-align: center;
      padding-top: 15px;
      border: 3px solid rebeccapurple;
      transition: border-color 0.4s ease-in-out;
      margin-right: 50px;
      cursor: pointer;
      a {
        text-decoration: none;
        font-family: "Lovers Quarrel", cursive;
        color: whitesmoke;
        font-size: 2rem;
      }
      &:hover {
        border: 3px solid yellow;
      }
    }
  }
}
