* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.blogfluid {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.859);
    width: 100%;
    height: 100%;
  }
  .blogbackground {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  .blogcon {
    z-index: 2;
    min-height: 100vh;

    .blogcontent {
      padding-top: 150px;
      text-align: center;
      font-size: 27px;
      p {
        background-image: linear-gradient(
          130deg,
          #ffee00,
          rgb(224, 165, 175),
          #3a055c
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h3 {
        text-transform: capitalize;
        font-family: "Lovers Quarrel", cursive;
        font-size: 4rem;
        letter-spacing: 4px;
        background-image: linear-gradient(
          130deg,
          #ffee00 15%,
          rgb(224, 165, 175),
          #3a055c
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::first-letter {
          font-size: 5rem;
        }
      }
      .skintones {
        padding-top: 150px;
        text-align: left;
        font-family: cursive;
        margin-bottom: 80px;
        .skin {
          margin-top: 40px;
          margin-bottom: 20px;

          p {
            padding-bottom: 15px;
            background-image: linear-gradient(
              130deg,
              #f8ea2a 15%,
              rgb(224, 165, 175),
              #3a055c
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          h4 {
            font-size: 1.7rem;
            margin-bottom: 15px;
            background-image: linear-gradient(130deg, #d68ce9, rgb(49, 2, 49));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}
