* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.clo-content {
  background-image: linear-gradient(to bottom, #06010f 50%, #010002);
  .clo-con {
    padding-top: 150px;
    min-height: 100vh;
    padding-bottom: 50px;

    .search {
      width: 100%;
      border-radius: 20px;
      background-color: transparent;
      border: 2px solid rebeccapurple;
      height: 5vh;
      outline: none;
      font-size: 20px;
      color: rgb(140, 85, 194);
      padding: 20px 25px;
      transition: border-color 0.4s ease-in-out;
      &:focus {
        border-color: rgba(255, 255, 0, 0.815);
      }
      &::placeholder {
        background-image: linear-gradient(
          -130deg,
          #ffee00 80%,
          rgb(224, 165, 175),
          #3a055c
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .clo-card {
      padding-top: 15px;
      border: 1px solid #1b0333;
      color: white;
      width: 33.3%;
      min-height: 60vh;
      padding-bottom: 15px;
      border-radius: 15px;
      .img {
        width: 100%;
        height: 350px;
        img {
          width: 100%;
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .info {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 2px 0 3px 0;
        padding-left: 10px;
        font-size: 1.1rem;
        .name,
        .price {
          background-image: linear-gradient(
            -130deg,
            #ffee00 80%,
            rgb(236, 176, 186),
            #32044e
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .addtocard {
          padding-top: 8px;
          button {
            border-radius: 7px;
            background-color: transparent;
            outline: none;
            color: white;
            border: 1px solid rebeccapurple;
            padding: 6px 7px;
            position: relative;
            z-index: 1;
            margin-right: 7px;
            a {
              text-decoration: none;
              color: white;
            }
            &::after {
              content: "";
              width: 100%;
              height: 100%;
              border-radius: 7px;
              position: absolute;
              background-image: linear-gradient(
                130deg,
                transparent,
                rgb(40, 10, 70),
                transparent
              );
              left: 0;
              top: 0;
              z-index: -1;
              transform: translateX(-100%);
              transition: transform 0.5s ease-in-out;
            }
            overflow: hidden;
            &:hover::after {
              transform: translateX(100%);
            }
          }
          .deleted {
            padding: 6px 15px;
            border: 1px solid rgba(139, 0, 0, 0.76);
            &::after {
              content: "";
              width: 100%;
              height: 100%;
              border-radius: 7px;
              position: absolute;
              background-image: linear-gradient(
                130deg,
                transparent,
                darkred,
                transparent
              );
              left: 0;
              top: 0;
              z-index: -1;
              transform: translateX(-100%);
              transition: transform 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
  .up {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 2px solid rebeccapurple;
    position: fixed;
    bottom: 15%;
    right: 3%;
    .fa-angle-up {
      opacity: 0;
      font-size: 24px;
      color: rebeccapurple;
      transform: translateY(13px);
      animation: up 2s forwards infinite;
    }
  }
}
@keyframes up {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
