* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fluid {
  .cont {
    min-height: 100vh;
    margin-top: 150px;

    .form {
      box-shadow: 0px 0px 25px black;
      h4 {
        text-align: center;
        margin-bottom: 20px;
        background-image: linear-gradient(
          130deg,
          #ffee00 15%,
          rgb(224, 165, 175),
          #3a055c
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: capitalize;
      }
      border: 3px solid rebeccapurple;
      backdrop-filter: blur(30px);
      border-radius: 20px;
      border-top-right-radius: 200px;
      border-bottom-left-radius: 200px;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 20px 45px;
      min-height: 70vh;
      margin-bottom: 70px;
      input {
        background-color: transparent;
        border: 2px solid rebeccapurple;
        outline: none;
        margin-top: 7px;
        height: 40px;
        border-radius: 20px;
        color: rgb(134, 70, 199);
        font-size: 18px;
        padding: 3px 15px;
        transition: border-color 0.4s ease-in-out;
        &:focus {
          border-color: rgba(255, 255, 0, 0.815);
        }
        &::placeholder {
          background-image: linear-gradient(
            -130deg,
            #ffee00 80%,
            rgb(224, 165, 175),
            #3a055c
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      textarea {
        margin-top: 30px;
        background-color: rgba(151, 74, 228, 0.719);
        backdrop-filter: blur(20px);
        border: 3px solid rgb(172, 135, 209);
        border-radius: 25px;
        padding: 15px 20px;
        outline: none;
        font-size: 18px;
        &:focus {
          border-color: rgba(255, 255, 0, 0.815);
        }
      }
      .submitcontact {
        font-size: 18px;
        margin: 25px 3px;
        align-self: center;
        width: 20vw;
        height: 5vh;
        border-radius: 15px;
        background-color: transparent;
        outline: none;
        border: 2px solid rebeccapurple;
        position: relative;
        z-index: 1;
        transition: border-color 0.5s ease-in-out;
        background-image: linear-gradient(
          130deg,
          #ffee00,
          rgb(224, 165, 175),
          #3a055c
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 7px;
          position: absolute;
          background-image: linear-gradient(
            130deg,
            transparent,
            rgb(40, 10, 70),
            transparent
          );
          left: 0;
          top: 0;
          z-index: -1;
          transform: translateX(-100%);
          transition: transform 0.5s ease-in-out;
        }
        overflow: hidden;
        &:hover::after {
          transform: translateX(100%);
        }
        &:hover {
          border-color: rgba(255, 255, 0, 0.815);
        }
      }
    }
  }
}
