* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.det-content {
  background-image: linear-gradient(to bottom, #06010f 50%, #010002);
  .det-con {
    min-height: 92vh;
    padding-top: 100px;
    padding-bottom: 50px;
    .img {
      width: 30%;
      height: 73vh;
      margin-bottom: 80px;

      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid yellow;
      }
    }
    .orderdetails {
      padding-left: 25px;
      font-size: 18px;
      text-transform: capitalize;
      .details {
        .description {
          background-image: linear-gradient(
            130deg,
            #ffee00,
            rgb(224, 165, 175),
            #3a055c 90%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          p {
            padding-bottom: 50px;
            padding-top: 10px;
          }
        }
        form {
          background-image: linear-gradient(
            130deg,
            #ffee00,
            rgb(224, 165, 175),
            #3a055c 90%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          .d_select {
            width: 300px;
            height: 40px;
            margin: 10px 7px 0 0;
            border: 2px solid rebeccapurple;
            outline: none;
            border-radius: 15px;
            padding: 2px 15px;
            background-image: linear-gradient(
              130deg,
              #fff241,
              rgb(224, 165, 175),
              #3a055c 90%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          input[type="number"] {
            background-color: transparent;
            outline: none;
            border: 1px solid rebeccapurple;
            border-radius: 15px;
            width: 300px;
            height: 40px;
            padding: 1px 15px;
            color: white;
            transition: border-color 0.4s ease-in-out;
            &:focus {
              border-color: rgba(255, 255, 0, 0.815);
            }
          }

          input[type="text"] {
            background-color: transparent;
            outline: none;
            border: 1px solid rebeccapurple;
            border-radius: 15px;
            width: 300px;
            color: white;
            height: 40px;
            padding: 1px 15px;
            transition: border-color 0.4s ease-in-out;
            &:focus {
              border-color: rgba(255, 255, 0, 0.815);
            }
          }
          .addtocard {
            padding-top: 70px;
            button {
              width: 300px;
              height: 5vh;
              border-radius: 15px;
              background-color: transparent;
              outline: none;
              border: 2px solid rebeccapurple;
              position: relative;
              z-index: 1;
              background-image: linear-gradient(
                130deg,
                #f8eb32,
                rgb(224, 165, 175),
                #3a055c
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: border-color 0.4s ease-in-out;
              &:hover {
                border-color: #f8ec3d;
              }
              &::after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 7px;
                position: absolute;
                transition: border-color 0.4s ease-in-out;
                &:focus {
                  border-color: rgba(255, 255, 0, 0.815);
                }
                background-image: linear-gradient(
                  130deg,
                  transparent,
                  rgb(40, 10, 70),
                  transparent
                );
                left: 0;
                top: 0;
                z-index: -1;
                transform: translateX(-100%);
                transition: transform 0.5s ease-in-out;
              }
              overflow: hidden;
              &:hover::after {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }
  }
  .errors {
    font-size: 21px;
    background-image: linear-gradient(
      -130deg,
      #ff0800 50%,
      rgb(233, 37, 2),
      #f3c2bc
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 350px;
    text-transform: capitalize;
    position: absolute;
    top: 3rem;
    left: 29%;
  }
}
