* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.foot {
  .footcont {
    width: 100%;
    min-height: 150px;
    background-color: #08000e;
    .footcen {
      width: 100%;
      height: 100%;

      .aboutpage {
        padding-top: 15px;
        padding-bottom: 10px;
      }
      .dir {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5 {
          background-image: linear-gradient(
            130deg,
            #ffee00,
            rgb(97, 61, 133) 80%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-transform: capitalize;
        }
      }
      .contact {
        padding: 50px;
        .social {
          display: flex;
          justify-content: space-around;
          width: 50%;
          margin: auto;
          padding-top: 10px;
          a {
            cursor: pointer;
            color: #faee4a;
            transition: color 0.4s ease-in-out;
            &:hover {
              color: rgb(97, 61, 133);
            }
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
