* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  .con {
    min-height: 50vh;

    form {
      min-height: 55vh;
      border: 3px solid rgb(61, 4, 94);
      backdrop-filter: blur(20px);
      margin: auto;
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
      padding: 10px;
      padding-top: 0;
      input {
        background-color: transparent;
        border: 2px solid rebeccapurple;
        outline: none;
        margin-top: 10px;
        height: 40px;
        border-radius: 20px;
        color: rgb(134, 70, 199);
        font-size: 18px;
        padding: 3px 15px;
        width: 60%;
        align-self: center;
        transition: border-color 0.4s ease-in-out;
        &:focus {
          border-color: rgba(255, 255, 0, 0.815);
        }
      }
      button {
        margin-top: 50px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid rgb(61, 4, 94);
        outline: none;
        background-color: transparent;
        font-family: "Lovers Quarrel", cursive;
        color: whitesmoke;
        font-size: 30px;
        align-self: center;
      }

      p {
        color: whitesmoke;
        padding-top: 15px;
      }
      .register {
        a {
          text-decoration: none;
          text-transform: capitalize;
          transition: color 0.4s ease-in-out;
          font-size: 18px;
          color: whitesmoke;
          &:hover {
            color: rgb(61, 4, 94);
          }
        }
      }
    }
  }
}
