* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.offersfluid {
  padding: 0;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.689);
    color: white;
    width: 100%;
    height: 100%;
  }
  .backgroundhome {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  .offerscont {
    position: relative;
    z-index: 2;
    padding: 0;
    min-height: 100vh;
    padding-top: 150px;
    color: white;
    .paymentcontent {
      margin-bottom: 50px;
      font-family: "Lovers Quarrel", cursive;
      padding: 40px 30px;
      font-size: 3.4rem;

      background-image: linear-gradient(
        130deg,
        #ffee00 15%,
        #cbbfd3,
        rgb(255, 240, 23)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
