* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  background-color: rgb(1, 1, 17);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .con {
    min-height: 50vh;
    form {
      min-height: 50vh;
      background-color: rgb(105, 101, 101);

      input {
        padding-top: 40px;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(223, 223, 70);
        width: 70%;
        position: relative;
        &::placeholder {
          transform: translateY(2px);
          color: rgb(1, 1, 17);
          text-transform: capitalize;
        }
      }

      .color {
        border-bottom: 3px solid red;
        position: relative;
        top: -2px;
        width: 70%;
        margin: auto;
        overflow: hidden;
        transform: scale(0);
        transition: transform 0.4s ease-in-out;
      }
      input:focus ~ .color {
        transform: scale(1);
        transform-origin: center;
      }
    }
    button {
      margin-top: 50px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid yellow;
      outline: none;
    }
  }
}
